{% include "mysite/header.html" %}


<div class="container">
<br>
<form method="POST" action="{% url 'tracker:create' %}">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
        {% if field.issue_type %}
          <p>test</p>
        {% endif %}
        {% for error in field.errors %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
    {% endfor %}
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>

    </div>
{% include "mysite/footer.html" %}