{% include "mysite/header.html" %}

<h1 class="header center orange-text">This is the polls page.</h1>

		{% if latest_question_list %}
		<ul class="collection container">
			{% for question in latest_question_list %}
			<li class="collection-item center">
				<a href="{% url 'polls:detail' question.id %}"
					>{{ question.question_text }}</a>
				<a href="{% url 'polls:detail' question.id %}"
					>Vote</a>
				<a href="{% url 'polls:results' question.id %}"
					>results</a>	
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<p>No polls are available.</p>
		{% endif %}

		<h2 class="center blue-text"><a href="{% url 'polls:new_question' %}">Create new question</a></h2>
 
	{% include "mysite/footer.html" %}	